<% include header.ejs %>
<link rel="stylesheet" href="/stylesheets/index.css"/>
<div id="page_content" class="clearfix">
  <div class="list fl">
    <table>
      <thead>
      <tr>
        <th>员工编号</th>
        <th>员工姓名</th>
        <th>当前概率</th>
        <th>中奖次数</th>
        <th>中奖金额</th>
      </tr>
      </thead>
      <tbody>
      <% if(data.length>0){%>
      <% for(var i = 0;i<data.length;i++){%>
      <tr>
        <td><%=data[i].no%></td>
        <td><%=data[i].name%></td>
        <td><%=data[i].rate%></td>
        <td><%=data[i].t%></td>
        <td><%=data[i].money?data[i].money:0%></td>
      </tr>
      <%}%>
      <%}%>
      </tbody>
    </table>
  </div>
</div>
  <div class="block fr">
    <div><span id="start" class="start btn">开始</span><span id="end" class="end btn">停止</span></div>

    <div class="p_list clearfix">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      <div></div>
    </div>
  </div>
  <script>
    $(function(){
      function lotto(){
        var timmer = null;
        function anim(){
          var span = $("#page_content .p_list span");
          timmer = setInterval(function(){
            var n = Math.floor(Math.random()*48);
            span.removeClass("light").eq(n).addClass("light");
          },50);
        }

        function do_(){
          $("#end").on("click",function(){
            clearInterval(timmer);
            $("#page_content .p_list span").removeClass("light").eq(5).addClass("light");
          });
          $("#start").on("click",function(){
            clearInterval(timmer);
            anim();
          });
        }
        do_();
      }




      lotto();
    });
  </script>
</body>
</html>