<% include header.ejs %>
<link rel="stylesheet" href="/stylesheets/index.css"/>
<div id="page_content" class="clearfix">
  <div class="list fl">
    <table len="<%=data.length%>" class="list_tb">
      <thead>
      <tr>
        <th>员工编号</th>
        <th>员工姓名</th>
        <th>当前概率</th>
        <th>中奖次数</th>
        <th>中奖金额</th>
      </tr>
      </thead>
      <tbody>
      <% if(data.length>0){%>
      <% for(var i = 0;i<data.length;i++){%>
      <tr>
        <td><%=data[i].no%></td>
        <td><%=data[i].name%></td>
        <td><%=data[i].rate%></td>
        <td><%=data[i].t%></td>
        <td><%=data[i].money?data[i].money:0%></td>
      </tr>
      <%}%>
      <%}%>
      </tbody>
    </table>
  </div>
  <div class="block fr">
    <div><span id="start" class="start btn">开始</span><span id="end" class="end btn">停止</span></div>

    <div class="p_list clearfix">
      <% if(data.length>0){%>
      <% for(var i = 0;i<data.length;i++){%>
        <span class="no_<%=data[i].no%>"><%=data[i].name%></span>
      <%}%>
      <%}%>
    </div>
  </div>
  </div>
  <script>
    $(function(){
      function lotto(){
        var len = $("#page_content .list .list_tb").attr("len");
        var timmer = null;var inter = 30;
        var r,m=2;
        function ret_anim(){
          var span = $("#page_content .p_list span");
          timmer = setInterval(function(){
            inter += m*m;
            m++;
            //减少重复
            var n = Math.floor(Math.random()*len);
            if(r==n){
              r = n = Math.floor(Math.random()*len);
            }else{
              r = n;
            }
            span.removeClass("light").eq(n).addClass("light");
            console.log(inter);
            if(inter > 1000){
              clearInterval(timmer);
              inter = 30;m = 2;
              $("#page_content .p_list span").removeClass("light").eq(3).addClass("light");

              return false;
            }
            clearInterval(timmer);
            anim();
          },inter);
        }

        var timmer1=null;
        function init_anim(){
          clearInterval(timmer1);
          var span = $("#page_content .p_list span");
          timmer1 = setInterval(function(){
            var n = Math.floor(Math.random()*len);
            span.removeClass("light").eq(n).addClass("light");
//              $("#page_content .p_list span").removeClass("light").eq(3).addClass("light");
              return false;
          },30);
        }
        function do_(){
          $("#end").on("click",function(){
            clearInterval(timmer);
            $("#page_content .p_list span").removeClass("light").eq(3).addClass("light");
          });
          $("#start").on("click",function(){
            init_anim();
            setTimeout(function(){
              $.get("/index/lottey",function(r){
                console.log(r);
                if(r.flag){
                  clearInterval(timmer1);
                  clearInterval(timmer);
                  anim();
                }
              },"json");
            },3000);
          });
        }
        do_();
      }




      lotto();
    });
  </script>
</body>
</html>