<% include header.ejs %>
<link rel="stylesheet" href="/stylesheets/user.css"/>
<div id="page_content" class="clearfix">
    <div class="list fl">
        <table class="list_tb">
            <thead>
            <tr>
                <td>员工编号</td>
                <td>员工姓名</td>
                <td style="width: 150px;">操作</td>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0;i<data.length;i++){%>
            <tr>
                <td><span><%=data[i]["no"]%></span><input type="text" value="<%=data[i]["no"]%>" name="no"/></td>
                <td><span><%=data[i]["name"]%></span><input type="text" value="<%=data[i]["name"]%>" name="name"/></td>
                <td><a href="/user/uEdit/<%=data[i]["id"]%>" class="save">保存</a><a href="javascript:void(0);" class="edit">修改</a><a href="/user/del/<%=data[i]["id"]%>" class="del">删除</a></td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
    <div class="block fr">
        <form action="">
            <fieldset>
                <legend>新增员工</legend>
                <table>
                    <tr>
                        <td>员工编号</td>
                        <td><input type="text" name="uNo"/></td>
                    </tr>
                    <tr>
                        <td>员工姓名</td>
                        <td><input type="text" name="uName"/></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="提&nbsp;&nbsp;交" id="submit" class="submit"/></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>
<script>
    $(function(){
        //modify
        function editFn(){
            var pNode = $("#page_content .list_tb");
            pNode.delegate(".edit","click",function(){
                $(this).hide().closest("tr").find(".save,input").show().end().find("span").hide();
            });
            pNode.delegate(".save","click",function(){
                var name = $(this).closest("tr").find("input[name='name']").val();
                var no = $(this).closest("tr").find("input[name='no']").val();
                var that = this;
                $.post($(this).attr("href"),{name:name,no:no},function(r){
                    if(r.flag){
                        alert("修改成功");
                        var selfTr = $(that).closest("tr");
                        selfTr.find("span").eq(0).text(selfTr.find("input[name='no']").val());
                        selfTr.find("span").eq(1).text(selfTr.find("input[name='name']").val());
                        $(that).hide().closest("tr").find(".edit,span").show().end().find("input").hide();
                    }else{
                        alert("修改失败");
                    }
                },"json");
                return false;
            });
        }

        function addFn(){
            var subBtn = $("#submit");
            subBtn.on("click",function(){
                var form = $("#page_content .block form");
                $.post("/user/uAdd",form.serialize(),function(r){
                    if(r.flag){
                        alert("添加成功");
                        var no = form.find("input[name='uNo']").val();
                        var name = form.find("input[name='uName']").val();
                        var str = "<tr><td><span>"+no+"</span><input type='text' value='"+no+"' name='uNo'/></td><td><span>"+name+"</span><input type='text' value='"+name+"'/></td><td><a href='#' class='save'>保存</a><a href='#' class='edit'>修改</a><a href='#' class='del'>删除</a></td></tr>";
                        form.find("input[name='uNo']").val("");
                        form.find("input[name='uName']").val("");
                        $("#page_content .list_tb").prepend(str);
                    }else{
                        alert("添加失败");
                    }
                });
                return false;
            });
        }
        function delFn(){
            var del = $("#page_content .list_tb .del");
            del.on("click",function(){
                var res = confirm("确定删除？");
                if(res){
                    $.get("###",function(){

                    });
                }else{
                }
            });
        }
        editFn();
        addFn();
        delFn();
    });
</script>
</body>
</html>